*{
    
    font-family: 'Zilla Slab', serif;
}
table.browserref
{
width:90%;
}
img{
    width: 100px;
    
}
td{
    
}
.encima{
    color:aliceblue;
    background-color: #6B6666;
    text-align: center;
    border: 20px solid black;
}
.arriba{
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    font-size: 35px;
    border: black;
    color: #FFFFFF;
}
.two{
    background-color:#000000;
}
.one{ 
 background-color:#646663;
}
.tabla{
    margin: 1px;
    border-color: #000;
    color:#FFFFFF;
}
.sesionn{
    width: 350px;
}
.sesion{
    width: 270px;
}
.iniciar{
    width: 240px;
}
.uno{
    color:grey;
    font-family: fantasy;
}
footer{
    width: 100%;
    height: 100px;
    background-color: black;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}
section{
     width: 1000px;
    margin: 30px auto;
}
a{
    text-decoration: none;
    color: black;
    
}
.menu_css{
    
    height: auto;
    background-color: black;
    cursor: pointer;
    color: #fff;
}
.el{
    display: inline;
    
    transition: 0.2s;
    display: none;
    cursor: pointer;
    color: white;
    
}
.menu_css:hover .el{
    transition: 0.4s;
    display: block;
}
.el:hover{
    background-color: #434343;
}
