    *{
        font-family: 'Encode Sans SC', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
    }
    table.browserref{
    width:90%;
    }
    .titulo_1{
        font-size: 46px;
    }
    h1{
        margin-top: 15px;
    }
    .titulo_1{
        margin-top: 25px;
       
        font-size: 55px;
        justify-content: center;
        align-items: center;
    }
    
    .texto{
        font-size: 33px;
    }
    .sec_listados{
        font-size: 30px;
    }
    header{
        font-size: 36px;
       padding: 0px 85px;
    }
    .uno{
        font-size: 25px;
    }
    .papa{
        font-size: 35px;
    }
    .tabla{
        font-size: 20px;
    }
    .one{
        font-size: 31px;
    }
    .two{
        font-size: 31px;
    }
    .menu_css{
        font-size: 31px;
        
    }
    th{
        font-size: 24px;
    }
