*{
    font-family: 'Montserrat', sans-serif;
}
table.browserref{
width:90%;
}
.inicio{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: gray;

    align-items: flex-start;
    justify-content: center;
    border: 2px solid black;
}
.inicio1{
    color: #fff;
    
    text-align: center;
}
.mitad{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 2px solid black;
}
.mitad1{
    border: 2px solid black;
    padding: 0px 155px 0px 155px;
}
.fin{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 2px solid black;
}
.fin1{
    border: 2px solid black;
    padding: 0px 155px 0px 155px;
}
.ht {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}
h1{
    margin-top: 15px;
}
img{
    width: 110px;
}
.linea{
    display: flex;
    flex-direction: column;
    width: auto;
}

.primero{
    background-color: #000;
    width: auto;
    text-align: center;
}
.segundo{
    background-color:gray;
    width: auto;
    text-align: center;
}
.tema{
    color: white;
    background-color: black;
    width: 80px;
}
.tema2{
    background-color:gray;
    width: 80px;
}
.descipcion{
    color: white;
    background-color: gray;
    width: auto;
}
.descipcion2{
    background-color:black;
    width: auto;
    min-width: 357px;
    max-width: 405px;
    margin: 0px 2px 0px 2px;
}

.texto{
    text-align: justify;
    font-size: 16px;
    margin: 15px 0px 15px 0px;
}
.encima{
    color:aliceblue;
    background-color: #6B6666;
    text-align: center;
    border: 20px solid black;
}
.arriba{
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;
    font-size: 35px;
    border: black;
    color: #FFFFFF;
}

.two{
    background-color:#646663;
    width: auto;
}
.one{ 
 background-color:#000;
 text-align: center;

}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.tabla{
    margin: 10px;
    border: 9px solid black;
    border-color: #000;
    color:#FFFFFF;
    width: 305px;
    height: 77px;
    background-color: black;
}
.sesionn{
    width: 350px;
    justify-content: center;
    align-items: center;
}
.sesion{
    width: 270px;
}
.iniciar{
    width: 240px;
}

.uno{
    color:grey;
    font-family: fantasy;
}
footer{
    width: 100%;
    height: 100px;
    background-color: black;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}
.todo{
    max-width: 1000px;
    margin: auto;
}
section{

    margin:auto;
}
a{
    text-decoration: none;
    color: black;
}
.colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}
.two{
    
    height: auto;
    text-align: center;
    background-color: gray;
    cursor: pointer;
    color: #fff;
}
.one{
    
    height: auto;
    background-color: black;
    cursor: pointer;
    color: #fff;
}
.menu_css{
    text-align: center;
    height: auto;
    width: 200px;
    background-color: black;
    cursor: pointer;
    color: #fff;
}
.el{
    display: inline;
    
    
    display: none;
    cursor: pointer;
    color: white;
    position: relative;
    display: none;
    background-color: #000;
}
.menu_css:hover .el{
    transition: 0.4s;
    display: block;
    position: relative;
   
}
.el:hover{
    transition: 0.4s;
    background-color: #434343;
    display: none;
}
.aling{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titulo_1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.final{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


