    *{
        font-family: 'Encode Sans SC', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
    }
    table.browserref{
    width:90%;
    }
    .titulo_1{
        font-size: 46px;
    }
    h1{
        margin-top: 15px;
    }
    .texto{
        font-size: 33px;
    }
    .sec_listados{
        font-size: 30px;
    }
    header{
        font-size: 26px;
    }
    .uno{
        font-size: 25px;
    }
    .papa{
        font-size: 20px;
    }
    .tabla{
        font-size: 20px;
    }
