*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #858585 46%, #d5d5d5 100%);
    
    
    margin-bottom: -20px;
    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 15px 50px 0px 50px;
    box-sizing: border-box;
    
}
:root{
    --color1: red;
    --color2: white;
    --color3: black;
    
    --colorTexto:black;
}

.nav{

    list-style: none;
    width: 100px;
    text-decoration: none;
    color: var(--color3);
    
    color: var(--color2);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.nav li{
    color: black;
   align-items: center;

   display: flex;
   flex-direction: column;
   margin: 7px;
   justify-content: space-around;

}
.logo{
    color: var(--color2);
    align-items: center;
    margin-bottom: 6px;
}
