    *{
        font-family: 'Zilla Slab', serif;
    }
    table.browserref{
    width:90%;
    }
    h1{
        margin-top: 15px;
    }
    p{

        font-size: 30px;
    }
    header{
        font-size: 26px;
    }
    

